ARCJET_KEY=your-arcjet-key

BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_URL=your-auth-url

SENDGRID_API_KEY=your-sendgrip-api-key

EMAIL_FROM=your-email-used-for-sengrid
EMAIL_VERIFICATION_CALLBACK_URL=http://localhost:your-port/email-verified

DATABASE_URL="postgresql://your-admin-name:your-password@localhost:your-db-dev-port/your-db-name?schema=public"

DB_USER=your-admin-name
DB_PASSWORD=your-password
DB_NAME=your-db-name
DB_DEV_PORTS=your-db-dev-port